.wrapper {
    display: block;
}

.row {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 0.5rem;
}

.backWrap {
    padding-top: 10px;
    margin-bottom: 5px;
}
